{% include "./reusables/header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
   <!-- End Navbar Area -->
  </header>
  <!-- End Header Area -->
  <!-- Start Page Title Area -->
  <div class="page-title-area bg-23">
   <div class="container">
    <div class="page-title-content">
     <h2>
      Blog Details
     </h2>
     <ul>
      <li>
       <a href="{{ url_for('home') }}">
        Home
       </a>
      </li>
      <li class="active">
       Blog Details
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- End Page Title Area -->
  <!-- Start Blog Details Area -->
  <div class="blog-details-area ptb-100">
   <div class="container">
    <div class="row">
     <div class="col-lg-8">
      <div class="blog-details-content">
       <div class="blog-details-img">
        <img alt="Image" src='{{ post.img_url }}' />
       </div>
       <div class="blog-top-content">
        <div class="news-content">
         <ul class="admin">
          <li>
           <a href="#">
            <i class="bx bx-user-circle">
            </i>
            Posted by: {{post.author.name}}
           </a>
          </li>
          <li>
           <a href="#">
            <i class="bx bx-comment">
            </i>
            {{ all_comments.count() }} comments
           </a>
          </li>

          <li>
            <a href="{{ url_for('edit_post', post_id=post.id) }}">
             <i class="bx bx-pencil">
             </i>
             Edit
            </a>
           </li>

          <li class="float">
           <i class="bx bx-calendar-alt">
           </i>
           {{post.date}}
          </li>
         </ul>
         <h3>
            {{post.title}}
         </h3>
         {{ post.body|safe }}
       </div>
       <div class="comments">
        <h3>
        Comments ({{ all_comments.count() }})
        </h3>
        <ul>
         {% for comment in all_comments %} 
         <li>
          <img alt="Image" src='{{ comment.author.email |gravatar }}' class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;">

          <h3>
            {{ comment.author.name|e }}
          </h3>
          <span>
            {{ comment.date|e }}
          </span>
          <p>{{ comment.text|e }}</p>
          
         </li>
         {% endfor %}
        </ul>
       </div>
       <div class="leave-reply">
        <h3>
         Leave A Reply
        </h3>
        <p>
         Your email address will not be published. Required fields are marked
         <span class="star">
          *
         </span>
        </p>
        {{ wtf.quick_form(form, method="post", novalidate=True, button_map={"submit": "primary"}, action=url_for("show_post", post_id=post.id) ) }}

       </div>
      </div>
     </div>
    
    </div>
   </div>
  </div>
  <!-- End Blog Details Area -->
  <!-- Start Footer Area -->
  {% include "./reusables/footer.html" %}