{% include "header.html" %}<!-- End Navbar Area -->
  </header>
  <!-- End Header Area -->
  <!-- Start Page Title Area -->
  <div class="page-title-area bg-26">
   <div class="container">
    <div class="page-title-content">
     <h2>
      Cart
     </h2>
     <ul>
      <li>
       <a href="{{ url_for('home') }}">
        Home
       </a>
      </li>
      <li class="active">
       Cart
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- End Page Title Area -->
  <!-- Start Cart Area -->
  <section class="cart-area ptb-100">
   <div class="container">
    <form class="cart-controller">
     <div class="cart-table table-responsive">
      <table class="table table-bordered">
       <thead>
        <tr>
         <th scope="col">
          Image
         </th>
         <th scope="col">
          Product name
         </th>
         <th scope="col">
          Price
         </th>
         <th scope="col">
          Quantity
         </th>
         <th scope="col">
          Total
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td class="product-thumbnail">
          <a href="{{ url_for('product_details') }}">
           <img alt="Image" src='{{ url_for("static", filename="img/cart/cart-1.jpg") }}'/>
          </a>
         </td>
         <td class="product-name">
          <a href="{{ url_for('product_details') }}">
           Delivery Box Small
          </a>
         </td>
         <td class="product-price">
          <span class="unit-amount">
           $190.00
          </span>
         </td>
         <td class="product-quantity">
          <div class="input-counter">
           <span class="minus-btn">
            <i class="bx bx-minus">
            </i>
           </span>
           <input min="1" type="text" value="1"/>
           <span class="plus-btn">
            <i class="bx bx-plus">
            </i>
           </span>
          </div>
         </td>
         <td class="product-subtotal">
          <span class="subtotal-amount">
           $190.00
          </span>
          <a class="remove" href="#">
           <i class="bx bx-trash">
           </i>
          </a>
         </td>
        </tr>
        <tr>
         <td class="product-thumbnail">
          <a href="{{ url_for('product_details') }}">
           <img alt="Image" src='{{ url_for("static", filename="img/cart/cart-2.jpg") }}'/>
          </a>
         </td>
         <td class="product-name">
          <a href="{{ url_for('product_details') }}">
           Delivery Box Medium
          </a>
         </td>
         <td class="product-price">
          <span class="unit-amount">
           $90.00
          </span>
         </td>
         <td class="product-quantity">
          <div class="input-counter">
           <span class="minus-btn">
            <i class="bx bx-minus">
            </i>
           </span>
           <input min="1" type="text" value="1"/>
           <span class="plus-btn">
            <i class="bx bx-plus">
            </i>
           </span>
          </div>
         </td>
         <td class="product-subtotal">
          <span class="subtotal-amount">
           $90.00
          </span>
          <a class="remove" href="#">
           <i class="bx bx-trash">
           </i>
          </a>
         </td>
        </tr>
        <tr>
         <td class="product-thumbnail">
          <a href="{{ url_for('product_details') }}">
           <img alt="Image" src='{{ url_for("static", filename="img/cart/cart-3.jpg") }}'/>
          </a>
         </td>
         <td class="product-name">
          <a href="{{ url_for('product_details') }}">
           Delivery Box
          </a>
         </td>
         <td class="product-price">
          <span class="unit-amount">
           $120.0
          </span>
         </td>
         <td class="product-quantity">
          <div class="input-counter">
           <span class="minus-btn">
            <i class="bx bx-minus">
            </i>
           </span>
           <input min="1" type="text" value="1"/>
           <span class="plus-btn">
            <i class="bx bx-plus">
            </i>
           </span>
          </div>
         </td>
         <td class="product-subtotal">
          <span class="subtotal-amount">
           $120.0
          </span>
          <a class="remove" href="#">
           <i class="bx bx-trash">
           </i>
          </a>
         </td>
        </tr>
        <tr>
         <td class="product-thumbnail">
          <a href="{{ url_for('product_details') }}">
           <img alt="Image" src='{{ url_for("static", filename="img/cart/cart-4.jpg") }}'/>
          </a>
         </td>
         <td class="product-name">
          <a href="{{ url_for('product_details') }}">
           Delivery Box Medium
          </a>
         </td>
         <td class="product-price">
          <span class="unit-amount">
           $100.00
          </span>
         </td>
         <td class="product-quantity">
          <div class="input-counter">
           <span class="minus-btn">
            <i class="bx bx-minus">
            </i>
           </span>
           <input min="1" type="text" value="1"/>
           <span class="plus-btn">
            <i class="bx bx-plus">
            </i>
           </span>
          </div>
         </td>
         <td class="product-subtotal">
          <span class="subtotal-amount">
           $100.00
          </span>
          <a class="remove" href="#">
           <i class="bx bx-trash">
           </i>
          </a>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <div class="coupon-cart">
      <div class="row">
       <div class="col-lg-8 col-sm-7">
        <div class="form-group mb-0">
         <input class="form-control" placeholder="Coupon code" type="text"/>
         <a class="default-btn" href="#">
          Apply Coupon
         </a>
        </div>
       </div>
       <div class="col-lg-4 col-sm-5 text-right">
        <a class="default-btn" href="#">
         <span>
          Update Cart
         </span>
        </a>
       </div>
      </div>
     </div>
    </form>
    <div class="cart-totals">
     <h3 class="cart-checkout-title">
      Checkout Summary
     </h3>
     <ul>
      <li>
       Subtotal
       <span>
        $530.00
       </span>
      </li>
      <li>
       Shipping
       <span>
        $00.00
       </span>
      </li>
      <li>
       Total
       <span>
        $530.00
       </span>
      </li>
      <li>
       <b>
        Payable Total
       </b>
       <span>
        <b>
         $530.00
        </b>
       </span>
      </li>
     </ul>
     <a class="default-btn" href="{{ url_for('checkout') }}">
      <span>
       Proceed To Checkout
      </span>
     </a>
    </div>
   </div>
  </section>
  <!-- End Cart Area -->
  <!-- Start Footer Area -->
{% include "footer.html" %}
