{% include "./reusables/header.html" %}<!-- End Navbar Area -->
  </header>
  <!-- End Header Area -->
  <!-- Start Page Title Area -->
  <div class="page-title-area bg-11">
   <div class="container">
    <div class="page-title-content">
     <h2>
      FAQ
     </h2>
     <ul>
      <li>
       <a href="{{ url_for('home') }}">
        Home
       </a>
      </li>
      <li class="active">
       FAQ
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- End Page Title Area -->
  <!-- Start FAQ Area -->
  <section class="faq-area ptb-100">
   <div class="container">
    <div class="section-title">
     <span class="pumpkin-color">
      FAQ
     </span>
     <h2>
      Get Every Single Answer
     </h2>
     <p>
      Should you have any questions beyond what's covered here, our dedicated customer support team is just a click or call away. Your satisfaction is our top priority, and we're here to assist you every step of the way.
     </p>
    </div>
    <div class="row">
     <div class="col-lg-6">
      <div class="faq-accordion">
       <ul class="accordion">
        <li class="accordion-item">
         <a class="accordion-title active" href="javascript:void(0)">
          <span>
           1
          </span>
          What is EYOP Logistics?
         </a>
         <p class="accordion-content show">
          EYOP Logistics is a proud partner of Amazon Prime, specializing in fast and dependable delivery services. We are committed to ensuring that your packages arrive swiftly and securely to your doorstep.
         </p>
        </li>
        <li class="accordion-item">
         <a class="accordion-title" href="javascript:void(0)">
          <span>
           2
          </span>
          How does EYOP Logistics ensure the safety of my deliveries?
         </a>
         <p class="accordion-content">
          Your security is our priority. Our dedicated team of professionals follows strict safety protocols to safeguard your packages during transit. Additionally, we provide real-time tracking so you can monitor your deliveries every step of the way.
         </p>
        </li>
        <li class="accordion-item">
         <a class="accordion-title" href="javascript:void(0)">
          <span>
           3
          </span>
          What areas do you serve?
         </a>
         <p class="accordion-content">
          We are proud to offer our services across a wide range of locations. You can check the availability of our services in your area by entering your ZIP code during the checkout process.
         </p>
        </li>
        <li class="accordion-item">
         <a class="accordion-title" href="javascript:void(0)">
          <span>
           4
          </span>
          How can I contact your customer support?
         </a>
         <p class="accordion-content">
          Our friendly customer support team is here to assist you. You can reach out to us through our website or app, or you can find our contact information in the "Contact Us" section.
         </p>
        </li>
       </ul>
      </div>
     </div>
     <div class="col-lg-6">
      <div class="faq-img">
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- End FAQ Area -->
  <!-- Start Contact Form Area -->
  {% include "./reusables/contact-form-area.html" %}
  <!-- End Contact Form Area -->
  <!-- Start Footer Area -->
{% include "./reusables/footer.html" %}
