{% include "./reusables/header.html" %}<!-- End Navbar Area -->
</header>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area bg-1 jarallax" data-jarallax='{"speed": 0.3}'>
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-9">
            <div class="banner-content">
              <span class="top-title wow fadeInDown" data-wow-delay="1s">
                Welcome to EYOP
              </span>
              <h1 class="wow fadeInDown" data-wow-delay="1s">
                Get The Best Transport And Logistics Support
              </h1>
              <p class="wow fadeInLeft" data-wow-delay="1s">
                Join the millions getting bargain deals on shipping cars,
                furniture, freight, and more
              </p>
              <div class="banner-btn wow fadeInUp" data-wow-delay="1s">
                <a class="default-btn" href="{{ url_for('pricing') }}">
                  <span> Get A Free Quote </span>
                </a>
                <a
                  class="default-btn active"
                  href="{{ url_for('contact_us') }}"
                >
                  <span> Contact Us </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="video-btn-2 wow zoomIn" data-wow-delay="1s">
              <a
                class="popup-youtube"
                href="https://www.youtube.com/watch?v=tEV5sXt6pV8"
              >
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
                <i class="flaticon-play-button"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- End Banner Area -->
    <!-- Start About Us Area -->
    {% include "./reusables/about-us-area.html" %}
    <!-- End About Us Area -->
    <!-- Start Services Area -->
    {% include "./reusables/services-area.html" %}
    <!-- End Services Area -->
    <!-- Start Choose Us Area -->
    {% include "./reusables/choose-us-area.html" %}
    <!-- End Choose Us Area -->
    <!-- Start Counter Area -->
    {% include "./reusables/counter-area.html" %}
    <!-- End Counter Area -->
    <!-- Start Track Area -->
    {% include "./reusables/track-area.html" %}
    <!-- End Track Area -->
    <!-- Start Pricing Area -->
    {% include "./reusables/pricing-area.html" %}
    <!-- End Pricing Area -->
    <!-- Start Shipment Area -->
    {% include "./reusables/shipment-area.html" %}
    <!-- End Shipment Area -->
    <!-- Start Testimonials Area -->
    {% include "./reusables/testimonials-area.html" %}
    <!-- End Testimonials Area -->
    <!-- Start Partner Area -->
    <div class="partner-area bg-color ptb-70">
      <div class="container">
        <div class="row">
          <div class="partner-slider owl-carousel owl-theme">
            <div class="partner-item">
              <a href="#">
                <img
                  alt="Image"
                  src='{{ url_for("static", filename="img/partner/partner-1.png") }}'
                />
              </a>
            </div>
            <div class="partner-item">
              <a href="#">
                <img
                  alt="Image"
                  src='{{ url_for("static", filename="img/partner/partner-2.png") }}'
                />
              </a>
            </div>
            <div class="partner-item">
              <a href="#">
                <img
                  alt="Image"
                  src='{{ url_for("static", filename="img/partner/partner-3.png") }}'
                />
              </a>
            </div>
            <div class="partner-item">
              <a href="#">
                <img
                  alt="Image"
                  src='{{ url_for("static", filename="img/partner/partner-4.png") }}'
                />
              </a>
            </div>
            <div class="partner-item">
              <a href="#">
                <img
                  alt="Image"
                  src='{{ url_for("static", filename="img/partner/partner-5.png") }}'
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Partner Area -->
    <!-- Start Blog Area -->
    {% include "blog-area.html" %}
    <!-- End Blog Area -->
    <!-- Start Footer Area -->
{% include "./reusables/footer.html" %}
