{% include "./reusables/header.html" %}<!-- End Navbar Area -->
  </header>
  <!-- End Header Area -->
  <!-- Start Page Title Area -->
  <div class="page-title-area bg-25">
   <div class="container">
    <div class="page-title-content">
     <h2>
      Products
     </h2>
     <ul>
      <li>
       <a href="{{ url_for('home') }}">
        Home
       </a>
      </li>
      <li class="active">
       Products
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- End Page Title Area -->
  <!-- Start Product Area -->
  <div class="product-area ptb-100">
   <div class="container">
    <div class="showing-result">
     <div class="row align-items-center">
      <div class="col-lg-6 col-sm-6">
       <div class="showing-result-count">
        <p>
         Showing 1-8 of 14 results
        </p>
       </div>
      </div>
      <div class="col-lg-6 col-sm-6">
       <div class="showing-top-bar-ordering">
        <select>
         <option value="1">
          Default sorting
         </option>
         <option value="2">
          Delivery Box Medium
         </option>
         <option value="0">
          Delivery Box Small
         </option>
         <option value="3">
          Delivery Box Big
         </option>
         <option value="4">
          Delivery Box Large
         </option>
         <option value="5">
          Delivery Box Medium
         </option>
        </select>
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="col-lg-4 col-sm-6">
      {% for product in all_products.items %}
      
    

      <div class="single-product">
       <div class="product-img">
        <img alt="Image" src='{{ product.img_url }}'/>
        <ul>
         <li>
          <a data-bs-toggle="modal" href="#product-view-one">
           <i class="bx bx-show-alt">
           </i>
          </a>
         </li>
         <li>
          <a href="#">
           <i class="bx bx-heart">
           </i>
          </a>
         </li>
        </ul>
       </div>
       <a href="{{ url_for('product_details') }}">
        <h3>
          {{ product.title }}
        </h3>
       </a>
       <span>
        {{ product.price }}
       </span>
       <a class="default-btn" href="{{ product.product_url }}">
        <span>
         Purchase Product
        </span>
       </a>
      </div>
     </div>
     {% endfor %}

     <div class="col-lg-12 col-md-12">

      <div class="pagination-area">
        {% if all_products.has_prev %}
            <a href="{{ url_for('products', page=all_products.prev_num) }}" class="prev page-numbers"><i class="bx bx-chevron-left"></i></a>
        {% endif %}

        {% for page_num in all_products.iter_pages() %}
            {% if page_num %}
                {% if page_num == blog_posts.page %}
                <span aria-current="page" class="page-numbers current">
                  {{ page_num }}
                 </span>
                    
                {% else %}
                <a class="page-numbers" href="{{ url_for('product', page=page_num) }}">
                  {{ page_num }}
                 </a>
                {% endif %}
            {% else %}
                <span>...</span>
            {% endif %}
        {% endfor %}

        {% if all_products.has_next %}
        <a class="next page-numbers" href="{{ url_for('products', page=all_products.next_num) }}">
          <i class="bx bx-chevron-right">
          </i>
         </a>
        {% endif %}
    </div>
      <div class="pagination-area">
       <!--
								<a href="#" class="prev page-numbers">
								<i class="bx bx-chevron-left"></i>
							</a>
							-->
       <span aria-current="page" class="page-numbers current">
        1
       </span>
       <a class="page-numbers" href="#">
        2
       </a>
       <a class="page-numbers" href="#">
        3
       </a>
       <a class="next page-numbers" href="#">
        <i class="bx bx-chevron-right">
        </i>
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- End Product Area -->
  <!-- Start Product View One Area -->
  <div class="modal fade product-view-one" id="product-view-one">
   <div class="modal-dialog">
    <div class="modal-content">
     <button class="close" data-bs-dismiss="modal" type="button">
      <span aria-hidden="true">
       <i class="bx bx-x">
       </i>
      </span>
     </button>
     <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
       <div class="product-view-one-image">
        <div class="owl-carousel owl-theme" id="big">
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-1.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-2.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-3.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-4.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-5.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-6.jpg") }}'/>
         </div>
        </div>
        <div class="owl-carousel owl-theme" id="thumbs">
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-1.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-2.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-3.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-4.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-5.jpg") }}'/>
         </div>
         <div class="item">
          <img alt="Image" src='{{ url_for("static", filename="img/product/product-6.jpg") }}'/>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-md-6">
       <div class="product-content">
        <h3>
         <a href="#">
          Delivery Box
         </a>
        </h3>
        <div class="price">
         <span class="new-price">
          $190.00
         </span>
        </div>
        <div class="product-review">
         <div class="rating">
          <i class="bx bxs-star">
          </i>
          <i class="bx bxs-star">
          </i>
          <i class="bx bxs-star">
          </i>
          <i class="bx bxs-star">
          </i>
          <i class="bx bxs-star">
          </i>
         </div>
         <a class="rating-count" href="#">
          3 reviews
         </a>
        </div>
        <ul class="product-info">
         <li>
          <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam ad reprehenderit fuga nam, non odit necessitatibus facilis beatae temporibus
          </p>
         </li>
         <li>
          <span>
           Availability:
          </span>
          <a href="#">
           In stock (7 items)
          </a>
         </li>
         <li>
          <span>
           Product Type:
          </span>
          <a href="#">
           Box
          </a>
         </li>
        </ul>
        <div class="product-color-switch">
         <h4>
          Color:
         </h4>
         <ul>
          <li>
           <a class="color-black" href="#" title="Black">
           </a>
          </li>
          <li>
           <a class="color-white" href="#" title="White">
           </a>
          </li>
          <li class="active">
           <a class="color-green" href="#" title="Green">
           </a>
          </li>
          <li>
           <a class="color-yellowgreen" href="#" title="Yellow Green">
           </a>
          </li>
          <li>
           <a class="color-teal" href="#" title="Teal">
           </a>
          </li>
         </ul>
        </div>
        <div class="product-add-to-cart">
         <div class="input-counter">
          <span class="minus-btn">
           <i class="bx bx-minus">
           </i>
          </span>
          <input min="1" type="text" value="1"/>
          <span class="plus-btn">
           <i class="bx bx-plus">
           </i>
          </span>
         </div>
         <button class="default-btn" type="submit">
          Add to Cart
          <i class="flaticon-right">
          </i>
         </button>
        </div>
        <div class="share-this-product">
         <h3>
          Share This Product
         </h3>
         <ul>
          <li>
           <a href="#">
            <i class="bx bxl-facebook">
            </i>
           </a>
          </li>
          <li>
           <a href="#">
            <i class="bx bxl-twitter">
            </i>
           </a>
          </li>
          <li>
           <a href="#">
            <i class="bx bxl-instagram">
            </i>
           </a>
          </li>
          <li>
           <a href="#">
            <i class="bx bxl-linkedin">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- End Product View One Area -->
  <!-- Start Footer Area -->
{% include "./reusables/footer.html" %}
