{% include "header.html" %}<!-- End Navbar Area -->
  </header>
  <!-- End Header Area -->
  <!-- Start Page Title Area -->
  <div class="page-title-area bg-16">
   <div class="container">
    <div class="page-title-content">
     <h2>
      Services Style Two
     </h2>
     <ul>
      <li>
       <a href="{{ url_for('home') }}">
        Home
       </a>
      </li>
      <li class="active">
       Services Style Two
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- End Page Title Area -->
  <!-- Start Services Area -->
  <section class="services-area services-area-two bg-color pt-100 pb-70">
   <div class="container">
    <div class="section-title">
     <span>
      Our Services
     </span>
     <h2>
      We Are Trusted For Our Services
     </h2>
     <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit porro, aliquid reprehenderit iusto inventore sint beatae ipsum impedit in sit numquam illum distinctio sequi quisquam et hic tempore
     </p>
    </div>
    <div class="row">
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-1.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Road Transport
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-2.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Sea Transport
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-3.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Air Transport
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-4.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Packaging
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-5.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Home Delivery
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-6.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Fast Freight
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- End Services Area -->
  <!-- Start Footer Area -->
{% include "footer.html" %}
