{% include "header.html" %}<!-- End Navbar Area -->
  </header>
  <!-- End Header Area -->
  <!-- Start Page Title Area -->
  <div class="page-title-area bg-17">
   <div class="container">
    <div class="page-title-content">
     <h2>
      Services Style Three
     </h2>
     <ul>
      <li>
       <a href="{{ url_for('home') }}">
        Home
       </a>
      </li>
      <li class="active">
       Services Style Three
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- End Page Title Area -->
  <!-- Start Services Area -->
  <section class="services-area services-area-two pt-100 pb-70">
   <div class="container">
    <div class="section-title">
     <span>
      Our Services
     </span>
     <h2>
      We Are Trusted For Our Services
     </h2>
     <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit porro, aliquid reprehenderit iusto inventore sint beatae ipsum impedit in sit numquam illum distinctio sequi quisquam et hic tempore
     </p>
    </div>
    <div class="row">
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-1.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Road Transport
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-2.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Sea Transport
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-3.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Air Transport
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-4.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Packaging
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-5.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Home Delivery
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <a class="services-img" href="{{ url_for('service_details') }}">
        <img alt="Image" src='{{ url_for("static", filename="img/services/services-6.jpg") }}'/>
       </a>
       <div class="services-content">
        <h3>
         <a href="{{ url_for('service_details') }}">
          Fast Freight
         </a>
        </h3>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
        </p>
        <a class="read-more" href="{{ url_for('service_details') }}">
         Read More
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- End Services Area -->
  <!-- Start Choose Us Area -->
  <section class="choose-us-area bg-color pt-100 pb-70">
   <div class="container">
    <div class="row">
     <div class="col-lg-6">
      <div class="choose-us-content">
       <span class="top-title">
        Why Choose Us
       </span>
       <h2>
        We Are The Best And That's Why You Can Choose Us Easily
       </h2>
       <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ratione eveniet eum. Quam enim inventore, exercitationem error ad temporibus sit facere quaerat architecto impedit ullam quasi vitae distinctio eos labore?
       </p>
       <div class="choose-us-slider owl-carousel owl-theme">
        <div class="single-choose-us-box bg-color-1">
         <i class="bx bx-calendar">
         </i>
         <span>
          20+ Years Work Experiences
         </span>
        </div>
        <div class="single-choose-us-box bg-color-2">
         <i class="bx bx-globe">
         </i>
         <span>
          World's Areas Covered
         </span>
        </div>
        <div class="single-choose-us-box bg-color-3">
         <i class="bx bx-user">
         </i>
         <span>
          Corporate And Official Client
         </span>
        </div>
        <div class="single-choose-us-box bg-color-1">
         <i class="bx bx-calendar">
         </i>
         <span>
          20+ Years Work Experiences
         </span>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg-6">
      <div class="choose-us-img">
       <img alt="Image" src='{{ url_for("static", filename="img/choose-us-img.jpg") }}'/>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- End Choose Us Area -->
  <!-- Start Services Area -->
  <section class="services-area pt-100 pb-70">
   <div class="container">
    <div class="section-title">
     <span>
      Our Services
     </span>
     <h2>
      We Are Trusted For Our Services
     </h2>
     <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit porro, aliquid reprehenderit iusto inventore sint beatae ipsum impedit in sit numquam illum distinctio sequi quisquam et hic tempore
     </p>
    </div>
    <div class="row">
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-fast-delivery-1">
       </i>
       <h3>
        Road Transport
       </h3>
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
       </p>
       <a class="read-more" href="{{ url_for('service_details') }}">
        Read More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-boat">
       </i>
       <h3>
        Sea Transport
       </h3>
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
       </p>
       <a class="read-more" href="{{ url_for('service_details') }}">
        Read More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-airplane">
       </i>
       <h3>
        Air Transport
       </h3>
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
       </p>
       <a class="read-more" href="{{ url_for('service_details') }}">
        Read More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-package">
       </i>
       <h3>
        Packaging
       </h3>
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
       </p>
       <a class="read-more" href="{{ url_for('service_details') }}">
        Read More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-payment-method">
       </i>
       <h3>
        Home Delivery
       </h3>
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
       </p>
       <a class="read-more" href="{{ url_for('service_details') }}">
        Read More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-fast-delivery">
       </i>
       <h3>
        Fast Freight
       </h3>
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nostrum minima eligendi neque labore asperiores.
       </p>
       <a class="read-more" href="{{ url_for('service_details') }}">
        Read More
       </a>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- End Services Area -->
  <!-- Start Pricing Area -->
  <section class="pricing-area bg-color pt-100 pb-70">
   <div class="container">
    <div class="section-title">
     <span>
      Our Pricing
     </span>
     <h2>
      Our Pricing Plan And All Other Details At A Glance
     </h2>
     <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit porro, aliquid reprehenderit iusto inventore sint beatae ipsum impedit in sit numquam illum distinctio sequi quisquam et hic tempore
     </p>
    </div>
    <div class="row">
     <div class="col-lg-4 col-md-6">
      <div class="single-pricing-box">
       <h3>
        Starter
       </h3>
       <h2>
        $20
        <sub>
         Monthly
        </sub>
       </h2>
       <ul>
        <li>
         <i class="bx bx-check">
         </i>
         All-time access on all transports
        </li>
        <li>
         <i class="bx bx-check">
         </i>
         Have a good premium on member
        </li>
        <li>
         <i class="bx bx-check">
         </i>
         60% Discount for the basic users
        </li>
        <li>
         <i class="bx bx-x">
         </i>
         All the time vat and tax-free
        </li>
        <li>
         <i class="bx bx-x">
         </i>
         Auto contact to our service point
        </li>
       </ul>
       <a class="default-btn" href="#">
        <span>
         Start This Plan
        </span>
       </a>
       <span class="quality">
        Good
       </span>
      </div>
     </div>
     <div class="col-lg-4 col-md-6">
      <div class="single-pricing-box">
       <h3>
        Premium
       </h3>
       <h2>
        $40
        <sub>
         Monthly
        </sub>
       </h2>
       <ul>
        <li>
         <i class="bx bx-check">
         </i>
         All-time access on all transports
        </li>
        <li>
         <i class="bx bx-check">
         </i>
         Have a good premium on member
        </li>
        <li>
         <i class="bx bx-check">
         </i>
         60% Discount for the basic users
        </li>
        <li>
         <i class="bx bx-check">
         </i>
         All the time vat and tax-free
        </li>
        <li>
         <i class="bx bx-x">
         </i>
         Auto contact to our service point
        </li>
       </ul>
       <a class="default-btn" href="#">
        <span>
         Start This Plan
        </span>
       </a>
       <span class="quality">
        Better
       </span>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
      <div class="single-pricing-box">
       <h3>
        Platinum
       </h3>
       <h2>
        $60
        <sub>
         Monthly
        </sub>
       </h2>
       <ul>
        <li>
         <i class="bx bx-check">
         </i>
         All-time access on all transports
        </li>
        <li>
         <i class="bx bx-check">
         </i>
         Have a good premium on member
        </li>
        <li>
         <i class="bx bx-check">
         </i>
         60% Discount for the basic users
        </li>
        <li>
         <i class="bx bx-check">
         </i>
         All the time vat and tax-free
        </li>
        <li>
         <i class="bx bx-check">
         </i>
         Auto contact to our service point
        </li>
       </ul>
       <a class="default-btn" href="#">
        <span>
         Start This Plan
        </span>
       </a>
       <span class="quality">
        Best
       </span>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- End Pricing Area -->
  <!-- Start Shipment Area -->
  <section class="shipment-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
   <div class="container">
    <div class="shipment-content">
     <span class="top-title">
      Shipment
     </span>
     <h2>
      Are You A Shipper? Please Knock Us On The Below Button
     </h2>
     <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam iste facere, unde nesciunt ratione amet voluptatibus aut, iure magnam accusantium consequatur voluptatum nam ipsum in soluta consectetur temporibus nobis itaque!
     </p>
     <div class="shipment-btn">
      <a class="default-btn" href="#">
       <span>
        Make A Shipment
       </span>
      </a>
      <a class="default-btn active" href="{{ url_for('contact_us') }}">
       <span>
        Contact Us
       </span>
      </a>
     </div>
    </div>
   </div>
  </section>
  <!-- End Shipment Area -->
  <!-- Start Footer Area -->
{% include "footer.html" %}
