{% include "./reusables/header.html" %}<!-- End Navbar Area -->
  </header>
  <!-- End Header Area -->
  <!-- Start Page Title Area -->
  <div class="page-title-area bg-15">
   <div class="container">
    <div class="page-title-content">
     <h2>
      Services
     </h2>
     <ul>
      <li>
       <a href="{{ url_for('home') }}">
        Home
       </a>
      </li>
      <li class="active">
       Services
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- End Page Title Area -->
  <!-- Start Services Area -->
  <section class="services-area bg-color pt-100 pb-70">
   <div class="container">
    <div class="section-title">
     <span>
      Our Services
     </span>
     <h2>
      We Are Trusted For Our Services
     </h2>
     <p>
      At EYOP Logistics, our services are designed to cater to your diverse shipping and logistics requirements. We're committed to delivering excellence in every aspect of our work, making your logistics experience smooth and reliable.     </p>
    </div>
    <div class="row">
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-fast-delivery-1">
       </i>
       <h3>
        Road Transport
       </h3>
       <p>
        Our Road Transport service provides seamless land-based logistics solutions. With a vast network of vehicles and experienced drivers, we ensure timely and secure deliveries across various destinations. Trust us for overland freight and transportation needs.

      </p>
       <a class="read-more" href="{{ url_for('contact_us') }}">
        Learn More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-boat">
       </i>
       <h3>
        Sea Transport
       </h3>
       <p>
        For larger shipments and international trade, our Sea Transport service offers cost-effective and reliable options. We specialize in ocean freight, handling all logistics to ensure your goods are transported efficiently via sea routes.

      </p>
       <a class="read-more" href="{{ url_for('contact_us') }}">
        Learn More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-airplane">
       </i>
       <h3>
        Air Transport
       </h3>
       <p>
        When speed is of the essence, our Air Transport service is the answer. We leverage airfreight to provide swift and efficient deliveries. Whether it's domestic or international, we offer reliable air transport solutions for your cargo.

      </p>
       <a class="read-more" href="{{ url_for('contact_us') }}">
        Learn More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-package">
       </i>
       <h3>
        Packaging
       </h3>
       <p>
        Proper packaging is essential to protect your goods during transit. Our Packaging service offers professional packing solutions to safeguard your items. We use quality materials and expert techniques to ensure your shipments arrive in perfect condition.

      </p>
       <a class="read-more" href="{{ url_for('contact_us') }}">
        Learn More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-payment-method">
       </i>
       <h3>
        Home Delivery
       </h3>
       <p>
        We bring convenience to your doorstep with our Home Delivery service. Sit back and relax while we ensure that your packages, parcels, and deliveries are delivered right to your home. Our efficient delivery network guarantees a hassle-free experience.

      </p>
       <a class="read-more" href="{{ url_for('contact_us') }}">
        Learn More
       </a>
      </div>
     </div>
     <div class="col-lg-4 col-sm-6">
      <div class="single-services-box">
       <i class="flaticon-fast-delivery">
       </i>
       <h3>
        Fast Freight
       </h3>
       <p>
        At EYOP Logistics, we understand the urgency of your shipments. Our Fast Freight service ensures that your goods reach their destination swiftly and securely. Whether it's a small package or a large cargo, we prioritize speed without compromising on safety.

      </p>
       <a class="read-more" href="{{ url_for('contact_us') }}">
        Learn More
       </a>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- End Services Area -->
  <!-- Start Footer Area -->
{% include "./reusables/footer.html" %}
