{% include "./reusables/header.html" %}<!-- End Navbar Area -->
  </header>
  <!-- End Header Area -->
  <!-- Start Page Title Area -->
  <div class="page-title-area bg-5">
   <div class="container">
    <div class="page-title-content">
     <h2>
      Testimonials
     </h2>
     <ul>
      <li>
       <a href="{{ url_for('home') }}">
        Home
       </a>
      </li>
      <li class="active">
       Testimonials
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- End Page Title Area -->
  <!-- Start Testimonials Area -->
  <section class="testimonials-area testimonials-page pt-100 pb-70">
   <div class="container">
    <div class="section-title">
     <span>
      Our Testimonials
     </span>
     <h2>
      Let's Know About All Of Our Client Says
     </h2>
     <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit porro, aliquid reprehenderit iusto inventore sint beatae ipsum impedit in sit numquam illum distinctio sequi quisquam et hic tempore
     </p>
    </div>
    <div class="row">
     <div class="col-lg-6 col-md-6">
      <div class="single-testimonials">
       <img alt="Image" src='{{ url_for("static", filename="img/testimonials/testimonials-1.jpg") }}'/>
       <h3>
        Awesome Quality Service
       </h3>
       <p>
        "EYOP Logistics made shipping a breeze. Their team was professional, and my packages always arrived on time. Highly recommended!"
      </p>
       <h4>
        Lopizan Astino
       </h4>
       <span>
        Founder Autocar inc
       </span>
      </div>
     </div>
     <div class="col-lg-6 col-md-6">
      <div class="single-testimonials">
       <img alt="Image" src='{{ url_for("static", filename="img/testimonials/testimonials-2.jpg") }}'/>
       <h3>
        Awesome Quality Team
       </h3>
       <p>
        "I've been using EYOP for both domestic and international shipments. Their service is top-notch, and their pricing is competitive. A trusted partner for my business."
      </p>
       <h4>
        Walino Arinton
       </h4>
       <span>
        Coex Founder
       </span>
      </div>
     </div>
     <div class="col-lg-6 col-md-6">
      <div class="single-testimonials">
       <img alt="Image" src='{{ url_for("static", filename="img/testimonials/testimonials-3.jpg") }}'/>
       <h3>
        Awesome Quality Roll
       </h3>
       <p>
        "The Starter plan offered by EYOP is a fantastic value. I get access to all transports and enjoy the discounts. It's a game-changer for my logistics needs."
      </p>
       <h4>
        Rontin Ariston
       </h4>
       <span>
        Exton Extention Author
       </span>
      </div>
     </div>
     <div class="col-lg-6 col-md-6">
      <div class="single-testimonials">
       <img alt="Image" src='{{ url_for("static", filename="img/testimonials/testimonials-4.jpg") }}'/>
       <h3>
        Awesome Quality Preview
       </h3>
       <p>
        "I upgraded to the Premium plan, and it was worth every penny. Priority service and VIP benefits have made my shipping experience truly hassle-free."
      </p>
       <h4>
        Lopizan Juhon
       </h4>
       <span>
        Founder CEO
       </span>
      </div>
     </div>
     <div class="col-lg-6 col-md-6">
      <div class="single-testimonials">
       <img alt="Image" src='{{ url_for("static", filename="img/testimonials/testimonials-5.jpg") }}'/>
       <h3>
        Awesome Quality Road
       </h3>
       <p>
        "I rely on EYOP Logistics for all my shipping needs. Their Standard plan offers great value, and I appreciate the peace of mind knowing my packages will be handled with care and delivered on time."       </p>
       <h4>
        Lopizan Juhon
       </h4>
       <span>
        Car Dealer
       </span>
      </div>
     </div>
     <div class="col-lg-6 col-md-6">
      <div class="single-testimonials">
       <img alt="Image" src='{{ url_for("static", filename="img/testimonials/testimonials-6.jpg") }}'/>
       <h3>
        Awesome Quality Local
       </h3>
       <p>
        "I rely on EYOP Logistics for all my shipping needs. Their Standard plan offers great value, and I appreciate the peace of mind knowing my packages will be handled with care and delivered on time."       </p>
       <h4>
        Lopizan Juhon
       </h4>
       <span>
        Clothing Brand Owner
       </span>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- End Testimonials Area -->
  <!-- Start Footer Area -->
{% include "./reusables/footer.html" %}
