<section class="about-us-area pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-img">
            <img
              alt="Image"
              src='{{ url_for("static", filename="img/about-img.jpg") }}'
            />
            <div class="experience">
              <div class="">
                <h2>20 Years Of Experience</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content">
            <span class="top-title"> About Us </span>
            <h2>Welcome to EYOP Logistics!</h2>
            <!-- <p>
              Discover EYOP Logistics, your trusted Amazon Prime delivery service partner. We're dedicated to swift and secure deliveries, connecting you to what you love. With a commitment to excellence, we're here to make your Amazon experience exceptional.
            </p> -->
          <p>
            Eyoplogistics is a reputable company in Nigeria with over 10 years of experience in the service delivery industry. As a registered organization, we have grown to become a trusted partner for clients worldwide. We take pride in our ability to meet the diverse needs of our clients, providing top-notch services that ensure their satisfaction.
          </p><p>
            With clients spanning across Asia, North America, Europe, Antarctica, South America, and Oceania, we have established ourselves as a global player in the logistics industry. No matter where our clients are located, we are committed to delivering exceptional service with utmost professionalism and efficiency.
          </p> <p>
            At Eyoplogistics, we understand the importance of timely delivery and meeting deadlines. That is why we have assembled a dedicated team of professionals who are skilled and experienced in their respective fields. They work tirelessly to ensure that our clients' requirements are met within the stipulated timeframe. 
          </p><p>
            Our commitment to quality and customer satisfaction sets us apart from competitors. We strive to exceed expectations by continually improving our services and implementing innovative solutions. We believe in building long-term relationships with our clients, understanding their unique needs, and customizing our services to meet those needs effectively.
          </p><p>
            In addition to our excellent service delivery, we also prioritize transparency and integrity in all our business dealings. We adhere to ethical practices and ensure that our clients are well-informed throughout the entire process. 
          </p><p>
            As Eyoplogistics, we are proud of our achievements and the recognition we have received within the industry. Our track record of success speaks for itself, and we are confident that we have what it takes to handle any logistical challenge.
          </p><p>
            Whether you are a small business or a multinational corporation, Eyoplogistics is here to provide you with reliable, efficient, and cost-effective logistics solutions. Trust us to deliver your goods and services, and experience the difference of working with a company that truly cares about your success.
          </p><ul>
              <li>
                <i class="bx bx-check"> </i>
                Delivery Timeliness
              </li>
              <li>
                <i class="bx bx-check"> </i>
                Safety Compliance
              </li>
              <li>
                <i class="bx bx-check"> </i>
                Efficient Operations
              </li>
              <li>
                <i class="bx bx-check"> </i>
                Customer Satisfaction
              </li>
            </ul>
            <a class="default-btn" href="{{ url_for('about') }}">
              <span> About Us </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>