<section class="about-us-area pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-img">
            <img
              alt="Image"
              src='{{ url_for("static", filename="img/about-img.jpg") }}'
            />
            <div class="experience">
              <div class="">
                <h2>20 Years Of Experience</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content">
            <span class="top-title"> About Us </span>
            <h2>Welcome to EYOP Logistics!</h2>
            <p>
              Discover EYOP Logistics, your trusted Amazon Prime delivery service partner. We're dedicated to swift and secure deliveries, connecting you to what you love. With a commitment to excellence, we're here to make your Amazon experience exceptional.
            </p>
            <ul>
              <li>
                <i class="bx bx-check"> </i>
                Delivery Timeliness
              </li>
              <li>
                <i class="bx bx-check"> </i>
                Safety Compliance
              </li>
              <li>
                <i class="bx bx-check"> </i>
                Efficient Operations
              </li>
              <li>
                <i class="bx bx-check"> </i>
                Customer Satisfaction
              </li>
            </ul>
            <a class="default-btn" href="{{ url_for('about') }}">
              <span> About Us </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>