<section class="blog-area ptb-100">
    <div class="container">
      
      <div class="section-title">
        <span> Our Blog </span>
        <h2>Make A Relation With Our Blog Article And Meet With Our Blogs</h2>
        <p>
          Welcome to the EYOP Logistics blog, your gateway to industry insights, shipping tips, and the latest news in logistics and transportation. Dive into our articles to stay informed, discover best practices, and stay updated on the ever-evolving world of shipping. Let our blog be your resource for all things logistics.
        </p>
      </div>
      <div class="row">
        <div class="blog-slider owl-carousel owl-theme">
          <!-- <div class="single-blog-post">
            <div class="post-image">
              <a href="#">
                <img
                  alt="image"
                  src='{{ url_for("static", filename="img/blog/blog-4.jpg") }}'
                />
              </a>
            </div>
            <div class="blog-content">
              <div class="date">
                <i class="bx bx-calendar"> </i>
                <span> 09 October 2019 </span>
              </div>
              <h3>
                <a href="#">
                  Unlocking Efficiency: EYOP Logistics Redefines Shipping Standards                  </a>
              </h3>
              <p>
                EYOP Logistics revolutionizes shipping standards, enhancing efficiency, and delivering exceptional service. Explore our world-class logistics solutions today.
              </p>
              <a class="default-btn" href="{{ url_for('show_post', post_id=1) }}">
                <span> Read More </span>
              </a>
            </div>
          </div> -->
          {% for post in all_posts %}
          <div class="single-blog-post">
            <div class="post-image">
              <a href="#">
                <img
                  alt="image"
                  src='{{ post.img_url }}'
                />
              </a>
            </div>
            <div class="blog-content">
              <div class="date">
                <i class="bx bx-calendar"> </i>
                <span> {{post.date}} </span>
              </div>
              <h3>
                <a href="#">
                  {{post.title}}
                </a>
              </h3>
              <p>
                {{post.subtitle}}
              </p>
              <a class="default-btn" href="{{ url_for('show_post', post_id=post.id) }}">
                <span> Read More </span>
              </a>
              
            </div>
          </div>
          {% endfor %}
         
         
          
        </div>
      </div>
    </div>
  </section>