<section class="choose-us-area pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="choose-us-content">
            <span class="top-title"> Why Choose Us </span>
            <h2>We Are The Best And That's Why You Can Choose Us Easily</h2>
            <p>
              Choose us confidently because we set the industry standard for excellence.
            </p>
            <div class="choose-us-slider owl-carousel owl-theme">
              <div class="single-choose-us-box bg-color-3">
                <i class=""><span class=" bx iconify" data-icon="ri:amazon-fill"></span>  </i>
                <span> Amazon Delivery Partnership  </span>
              </div>
              <div class="single-choose-us-box bg-color-1">
                <i class="bx bx-calendar"> </i>
                <span> 20+ Years Work Experiences </span>
              </div>
              <div class="single-choose-us-box bg-color-2">
                <i class="bx bx-globe"> </i>
                <span> Diverse Transport Options </span>
              </div>
              <div class="single-choose-us-box bg-color-3">
                <i class="bx bx-user"> </i>
                <span> Customer-Centric Approach </span>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="choose-us-img">
            <img
              alt="Image"
              src='{{ url_for("static", filename="img/choose-us-img.jpg") }}'
            />
          </div>
        </div>
      </div>
    </div>
  </section>