<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <!-- Bootstrap Min CSS -->
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <!-- Owl Theme Default Min CSS -->
    <link
      href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}"
      rel="stylesheet"
    />
    <!-- Owl Carousel Min CSS -->
    <link
      href="{{ url_for('static', filename='css/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <!-- Animate Min CSS -->
    <link
      href="{{ url_for('static', filename='css/animate.min.css') }}"
      rel="stylesheet"
    />
    <!-- Boxicons Min CSS -->
    <link
      href="{{ url_for('static', filename= 'css/boxicons.min.css') }}"
      rel="stylesheet"
    />
    <!-- Magnific Popup Min CSS -->
    <link
      href="{{ url_for('static', filename='css/magnific-popup.min.css') }}"
      rel="stylesheet"
    />
    <!-- Flaticon CSS -->
    <link
      href="{{ url_for('static', filename='css/flaticon.css') }}"
      rel="stylesheet"
    />
    <!-- Meanmenu Min CSS -->
    <link
      href="{{ url_for('static', filename='css/meanmenu.min.css') }}"
      rel="stylesheet"
    />
    <!-- Nice Select Min CSS -->
    <link
      href="{{ url_for('static', filename='css/nice-select.min.css') }}"
      rel="stylesheet"
    />
    <!-- Odometer Min CSS-->
    <link
      href="{{ url_for('static', filename='css/odometer.min.css') }}"
      rel="stylesheet"
    />
    <!-- Style CSS -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <!-- Responsive CSS -->
    <link
      href="{{ url_for('static', filename='css/responsive.css') }}"
      rel="stylesheet"
    />
    <!-- Favicon -->
    <link
      href="{{ url_for('static', filename='img/favicon.png') }}"
      rel="icon"
      type="image/png"
    />
    <!-- Title -->
    <title>Eyop - Transport & Logistics Company</title>
  </head>
  <body>
    <!-- Start Preloader Area -->
    <div class="preloader">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Header Area -->
    <style>

  </style>
    <header class="header-area">
      <!-- Start Top Header -->
      <div class="top-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-10">
              <ul class="header-left-content news-item">
                <li>
                  <i class="bx bx-home"> </i>
                  Lekki, Ikota GRA, Lagos State
                </li>
                <li>
                  <i class="bx bx-phone-call"> </i>
                  <a href="tel:+234-906-142-3460"> +234 906 142 3460 </a>
                </li>
                <li>
                  <i class="bx bx-envelope"> </i>
                  <a href="mailto:info@eyoplogistics.com">
                    info@eyoplogistics.com
                  </a>
                </li>
              </ul>
            </div>
            <!-- <div class="col-lg-4 col-md-2">
              <div class="header-right-content">
                <ul class="flag-area">
                  <li class="flag-item-top">
                    <a class="flag-bar" href="#">
                      <img
                        alt="Image"
                        src="{{ url_for('static', filename='img/flag/ngn.png') }}"
                      />
                      <span> NGA </span>
                    </a>
                    <ul class="flag-item-bottom">
                      <li class="flag-item">
                        <a class="flag-link" href="#">
                          <img
                            alt="Image"
                            src="{{ url_for('static', filename='img/flag/usa.png') }}"
                          />
                          USA
                        </a>
                      </li>
                      <li class="flag-item">
                        <a class="flag-link" href="#">
                          <img
                            alt="Image"
                            src="{{ url_for('static', filename='img/flag/ngn.png') }}"
                          />
                          NGA
                        </a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- Start Top Header -->
      <!-- Start Navbar Area -->
      <div class="navbar-area">
        <div class="mobile-nav">
            <div class="container">
                <div class="mobile-menu">
                    <div class="logo">
                        <a href="{{ url_for('home') }}">
                            <img class="logo-icon" alt="logo" src="{{ url_for('static', filename='img/logo.png') }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="{{ url_for('home') }}">
                        <img class="navbar-brand-icon" alt="logo" src="{{ url_for('static', filename='img/logo.png') }}"/>
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav m-auto">
                          
                            {% for item in navigation_items %}
                                {% if item.url_for %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if item.url_for == current_page %}active{% endif %}" href="{{ url_for(item.url_for) }}">
                                            {{ item.label }}
                                            {% if item.sub_items %}
                                                <i class="bx bx-chevron-down"></i>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link {% for sub_item in item.sub_items %} {% if sub_item.url_for == current_page %}active{% endif %} {% endfor %}" href="#">
                                            {{ item.label }}
                                            {% if item.sub_items %}
                                                <i class="bx bx-chevron-down"></i>
                                            {% endif %}
                                        </a>
                                        {% if item.sub_items %}
                                            <ul class="dropdown-menu">
                                                {% for sub_item in item.sub_items %}
                                                    <li class="nav-item ">
                                                        <a class="nav-link {% if sub_item.url_for == current_page %}active{% endif %}" href="{{ url_for(sub_item.url_for) }}">
                                                            {{ sub_item.label }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}

                            <li class="nav-item">
                              <a href="#" class="nav-link {% if current_page in ['login', 'register', 'my_account', 'recover_password'] %}active{% endif %}">
                                User
                                <i class="bx bx-chevron-down"></i>
                              </a>
                
                              <ul class="dropdown-menu">
                                
                                {% if not current_user.is_authenticated %}
                                <li class="nav-item">
                                  <a href="{{ url_for('login') }}" class="nav-link {% if 'login' == current_page %}active{% endif %}">Login</a>
                                </li>
                                <li class="nav-item">
                                  <a href="{{ url_for('register') }}" class="nav-link {% if 'register' == current_page %}active{% endif %}">Register</a>
                                </li>
                                <li class="nav-item">
                                  <a href="{{ url_for('recover_password') }}" class="nav-link {% if 'recover_password' == current_page %}active{% endif %}">Forgot Password</a>
                                {% else %}
                                <li class="nav-item">
                                  <a href="{{ url_for('my_account') }}" class="nav-link {% if 'my_account' == current_page %}active{% endif %}">My Account</a>
                                </li>
                                <li class="nav-item">
                                  <a href="{{ url_for('logout') }}" class="nav-link">Log Out</a>
                                </li>
                                {% endif %}
                                
                                
                                
                                
                                
                                </li>
                              </ul>
                            </li>

                        </ul>
                        <div class="others-option">
                          <div class="get-quote">
                            <a class="default-btn" href="{{ url_for('get_quote') }}">
                              <span> Get A Quote </span>
                            </a>
                          </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="option-inner">
                        <div class="others-option justify-content-center d-flex align-items-center">
                            <div class="get-quote">
                                <a class="default-btn" href="{{ url_for('get_quote') }}">
                                    <span>Get A Quote</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     