<section class="pricing-area pt-100 pb-70">
    <div class="container">
      <div class="section-title">
        <span> Our Pricing </span>
        <h2>Our Pricing Plan And All Other Details At A Glance</h2>
        <p>
          Cargo Shipping Made Simple: Explore Our Competitive Pricing Plans
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-pricing-box">
            <h3>Starter Plan</h3>
            <h2>
              $60
              <sub> Monthly </sub>
            </h2>
            <ul>
              <li>
                <i class="bx bx-check"> </i>
                All-time access on all transports
              </li>
              <li>
                <i class="bx bx-check"> </i>
                Premium member benefits
              </li>
              <li>
                <i class="bx bx-check"> </i>
                10% Discount for basic users
              </li>
              <li>
                <i class="bx bx-x"> </i>
                VAT and tax-free
              </li>
              <li>
                <i class="bx bx-x"> </i>
                Auto contact to our service point
              </li>
            </ul>
            <a class="default-btn" href="#">
              <span> Start This Plan </span>
            </a>
            <span class="quality"> Good </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-pricing-box">
            <h3>Standard Plan</h3>
            <h2>
              $160
              <sub> Monthly </sub>
            </h2>
            <ul>
              <li>
                <i class="bx bx-check"> </i>
                All-time access on all transports
              </li>
              <li>
                <i class="bx bx-check"> </i>
                Enhanced premium member benefits
              </li>
              <li>
                <i class="bx bx-check"> </i>
                20% Discount for basic users
              </li>
              <li>
                <i class="bx bx-check"> </i>
                VAT and tax-free
              </li>
              <li>
                <i class="bx bx-x"> </i>
                Expedited customer support
              </li>
            </ul>
            <a class="default-btn" href="#">
              <span> Start This Plan </span>
            </a>
            <span class="quality"> Better </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
          <div class="single-pricing-box">
            <h3>Premium Plan</h3>
            <h2>
              $220
              <sub> Monthly </sub>
            </h2>
            <ul>
              <li>
                <i class="bx bx-check"> </i>
                All-time access on all transports
              </li>
              <li>
                <i class="bx bx-check"> </i>
                VIP premium member benefits
              </li>
              <li>
                <i class="bx bx-check"> </i>
                30% Discount for basic users
              </li>
              <li>
                <i class="bx bx-check"> </i>
                VAT and tax-free
              </li>
              <li>
                <i class="bx bx-check"> </i>
                Priority access to service points
              </li>
            </ul>
            <a class="default-btn" href="#">
              <span> Start This Plan </span>
            </a>
            <span class="quality"> Best </span>
          </div>
        </div>
      </div>
    </div>
  </section>