<section class="services-area bg-color pt-100 pb-70">
    <div class="container">
      <div class="section-title">
        <span> Our Services </span>
        <h2>We Are Trusted For Our Services</h2>
        <p>
          Elevate your logistics experience with EYOP. From road to sea to air, we provide tailored solutions for all your shipping needs. Trust us for reliable, efficient, and customer-centric services that ensure your cargo arrives safely and on time.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="single-services-box">
            <i class="flaticon-fast-delivery-1"> </i>
            <h3>Road Transport</h3>
            <p>
              Our road transport services are the backbone of our logistics solutions. We offer a network of well-maintained vehicles and experienced drivers, guaranteeing secure and timely deliveries. Whether it's local or long-distance, your cargo is in safe hands with EYOP Logistics.
            </p>
            <a class="read-more" href="{{ url_for('service_details') }}">
              Read More
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="single-services-box">
            <i class="flaticon-boat"> </i>
            <h3>Sea Transport</h3>
            <p>
              For international shipping, our sea transport services are the answer. We specialize in ocean freight, offering cost-effective solutions for transporting goods worldwide. With a commitment to safety and efficiency, we navigate the seas to deliver your cargo reliably.
            </p>
            <a class="read-more" href="{{ url_for('service_details') }}">
              Read More
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
          <div class="single-services-box">
            <i class="flaticon-airplane"> </i>
            <h3>Air Transport</h3>
            <p>
              When time is of the essence, turn to EYOP's air transport services. We understand the urgency of airfreight and have the expertise to handle it with precision. Count on us for fast, secure, and streamlined air cargo solutions, connecting you to global markets.
            </p>
            <a class="read-more" href="{{ url_for('service_details') }}">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>