<section class="team-area bg-color pt-100 pb-70">
    <div class="container">
     <div class="section-title">
      <span>
       Our Team
      </span>
      <h2>
       Need Immediate Support Or Any Help? Contact Our Team
      </h2>
     </div>
     <div class="row">
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-1.jpg") }}'/>
        <div class="team-content">
         <span>
          Cargo Department
         </span>
         <h3>
          David Cunningham
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-2.jpg") }}'/>
        <div class="team-content">
         <span>
          Director - Designs Dept.
         </span>
         <h3>
          Ayodeji Oluwaferanmi Olofinyokun
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-4.jpg") }}'/>
        <div class="team-content">
         <span>
          Developer
         </span>
         <h3>
         Ifedayo Akinsira-Olumide
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="https://twitter.com/nolongercrazy" target="_blank">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="https://www.instagram.com/olympicson" target="_blank">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="https://www.github.com/akinsiraifedayo" target="_blank">
             <i class="bx bxl-github">
             </i>
            </a>
           </li>
           <li>
            <a href="https://www.linkedin.com/in/ifedayoakinsira/" target="_blank">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-1.jpg") }}'/>
        <div class="team-content">
         <span>
          CEO
         </span>
         <h3>
          Brian John
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-5.jpg") }}'/>
        <div class="team-content">
         <span>
          Company CEO
         </span>
         <h3>
         Eyopumoh Cletus Emmanuel
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-6.jpg") }}'/>
        <div class="team-content">
         <span>
          M.D
         </span>
         <h3>
          Kliva Dew
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>

   <!-- About CEO Area -->
<div class="container">
    <div class="about-content">
      <span class="top-title"> About The CEO </span>
      <h2>CEO PORTFOLIO</h2>
      <!-- <p>
        Discover EYOP Logistics, your trusted Amazon Prime delivery service partner. We're dedicated to swift and secure deliveries, connecting you to what you love. With a commitment to excellence, we're here to make your Amazon experience exceptional.
      </p> -->
    <p>
      Eyopumoh Cletus Emmanuel is a highly accomplished CEO with over 10 years of experience in the service delivery industry. He is the owner and operator of Weazth Global Inc, a multinational company based in Nigeria. Under his leadership, the company has experienced tremendous growth and has become a renowned player in the industry.
    </p><p>
      Mr. Emmanuel's expertise lies in managing diverse teams and delivering exceptional services to clients from various continents. He has successfully handled clients from Asia, North America, Europe, Antarctica, South America, and Oceania, showcasing his ability to navigate different cultural and business landscapes.
    </p> <p>
      His business empire includes subsidiary companies such as WR Lifestyle Entertainment and Eyop Logistics, which play vital roles in expanding the company's reach and diversifying its service offerings. WR Lifestyle Entertainment focuses on providing high-quality entertainment services to clients, while Eyop Logistics specializes in efficient and timely logistics solutions.
    </p><p>
      Driven by a strong commitment to customer satisfaction, Mr. Emmanuel has assembled a dedicated team that consistently works under strict deadlines to deliver services efficiently and meet clients' expectations. Through his leadership, he has instilled a culture of excellence, professionalism, and innovation within his organizations.
    </p><p>
      Throughout his career, Mr. Emmanuel has achieved remarkable milestones and has earned a reputation for his business acumen, strategic thinking, and ability to drive sustainable growth. His success can be attributed to his strong leadership skills, strategic vision, and the ability to adapt to changing market dynamics.
    </p><p>
      With a proven track record in the service delivery industry, Mr. Emmanuel continues to spearhead the expansion of Weazth Global Inc and its subsidiaries while ensuring that the company consistently exceeds client expectations. He is a dynamic and forward-thinking CEO, determined to make a positive impact in the industry and contribute to the economic growth of Nigeria and beyond. 
    </p>
      <a class="default-btn" href="{{ url_for('contact_us') }}">
        <span> Contact Us </span>
      </a>
    </div>
  </div>