<section class="team-area bg-color pt-100 pb-70">
    <div class="container">
     <div class="section-title">
      <span>
       Our Team
      </span>
      <h2>
       Need Immediate Support Or Any Help? Contact Our Team
      </h2>
     </div>
     <div class="row">
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-1.jpg") }}'/>
        <div class="team-content">
         <span>
          Cargo Department
         </span>
         <h3>
          David Cunningham
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-2.jpg") }}'/>
        <div class="team-content">
         <span>
          Director - Designs Dept.
         </span>
         <h3>
          Ayodeji Oluwaferanmi Olofinyokun
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-4.jpg") }}'/>
        <div class="team-content">
         <span>
          Developer
         </span>
         <h3>
         Ifedayo Akinsira-Olumide
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="https://twitter.com/nolongercrazy" target="_blank">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="https://www.instagram.com/olympicson" target="_blank">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="https://www.github.com/akinsiraifedayo" target="_blank">
             <i class="bx bxl-github">
             </i>
            </a>
           </li>
           <li>
            <a href="https://www.linkedin.com/in/ifedayoakinsira/" target="_blank">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-1.jpg") }}'/>
        <div class="team-content">
         <span>
          CEO
         </span>
         <h3>
          Brian John
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-5.jpg") }}'/>
        <div class="team-content">
         <span>
          Company CEO
         </span>
         <h3>
         Eyopumoh Cletus Emmanuel
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-6">
       <div class="single-team-member">
        <img alt="Image" src='{{ url_for("static", filename="img/team/team-6.jpg") }}'/>
        <div class="team-content">
         <span>
          M.D
         </span>
         <h3>
          Kliva Dew
         </h3>
         <div class="team-social">
          <a class="control" href="javascript:void(0);">
           <i class="bx bx-share-alt">
           </i>
          </a>
          <ul>
           <li>
            <a href="#">
             <i class="bx bxl-twitter">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-instagram">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-facebook">
             </i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="bx bxl-linkedin-square">
             </i>
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>