<section class="testimonials-area ptb-100">
    <div class="container-fluid p-0">
      <div class="section-title">
        <span> Our Testimonials </span>
        <h2>Let's Know About All Of Our Client Says</h2>
        <p>
          Our clients' satisfaction is at the heart of everything we do at EYOP Logistics. Hear directly from those who have experienced our services. Read their testimonials and learn how EYOP has transformed their shipping experience, delivering reliability, efficiency, and exceptional value.
        </p>
      </div>
      <div class="testimonials-slider owl-carousel owl-theme">
        <div class="single-testimonials">
          <img
            alt="Image"
            src='{{ url_for("static", filename="img/testimonials/testimonials-1.jpg") }}'
          />
          <h3>Awesome Quality Service</h3>
          <p>
            "EYOP Logistics made shipping a breeze. Their team was professional, and my packages always arrived on time. Highly recommended!"
          </p>
          <h4>Lopizan Astino</h4>
          <span> Founder Autocar inc </span>
        </div>
        <div class="single-testimonials">
          <img
            alt="Image"
            src='{{ url_for("static", filename="img/testimonials/testimonials-2.jpg") }}'
          />
          <h3>Awesome Quality Team</h3>
          <p>
            "I've been using EYOP for both domestic and international shipments. Their service is top-notch, and their pricing is competitive. A trusted partner for my business."
          </p>
          <h4>Walino Arinton</h4>
          <span> Coex Founder </span>
        </div>
        <div class="single-testimonials">
          <img
            alt="Image"
            src='{{ url_for("static", filename="img/testimonials/testimonials-3.jpg") }}'
          />
          <h3>Awesome Quality Roll</h3>
          <p>
            "The Starter plan offered by EYOP is a fantastic value. I get access to all transports and enjoy the discounts. It's a game-changer for my logistics needs."
          </p>
          <h4>Rontin Ariston</h4>
          <span> Exton Extention Author </span>
        </div>
        <div class="single-testimonials">
          <img
            alt="Image"
            src='{{ url_for("static", filename="img/testimonials/testimonials-4.jpg") }}'
          />
          <h3>Awesome Quality Preview</h3>
          <p>
            "I upgraded to the Premium plan, and it was worth every penny. Priority service and VIP benefits have made my shipping experience truly hassle-free."
          </p>
          <h4>Lopizan Juhon</h4>
          <span> Founder CEO </span>
        </div>
      </div>
    </div>
  </section>